{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>SwiftChat</title>
  </head>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href='{% static "chat/home.css" %}' />
  <body>
    <div align="center">
      <h1>SwiftChat</h1>
      <p>Direct Messaging Without Login</p>
    </div>
    {% if alertMessage is not None %}
    <br />
    <div class="alert alert-success alert-dismissible" role="alert">
      Room <span class="bold">{{alertMessage}}</span> deleted successfully.
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} {% if error %}
    <br />
    <div class="alert alert-danger alert-dismissible" role="alert">
      <span class="bold">Wrong Password</span> or
      <span class="bold">Room ID</span> is currently unavailable
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %}
    <div class="container">
      <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label>Display Name</label>
        <input
          type="text"
          name="username"
          id="username"
          width="100px"
          placeholder="Enter a username"
        />
        <label>Room ID</label>
        <input
          type="text"
          name="room_name"
          id="room_name"
          width="100px"
          placeholder="Create New or Join"
        />
        <label>Password</label>
        <input
          type="password"
          name="password"
          id="password"
          width="100px"
          placeholder="Enter Password"
        />
        <input type="submit" value="Enter Room" />
      </form>
    </div>
    <p align="center">
      Ask your partner to enter the same <span class="bold">Room ID</span> and
      <span class="bold">Password</span> to start a conversation.
    </p>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer align="center">
    <br />
    <br />
    <a href="https://github.com/AzeemIdrisi/SwiftChat">Report an issue</a>
    <p>SwiftChat &copy Azeem Idrisi 2024</p>
  </footer>
</html>
